.menu {
    line-height: 40px;
    background-color: antiquewhite;
    text-align: right;
}

.menu>a {
    letter-spacing: 5px;
    margin-right: 15px;
    font-weight: bold;
}

.menuActive {
    color: red;
    box-shadow: 2px 2px white;
    font-size: 18px;
}